@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin:0px;
  padding:0px;
}
/* 
.tapArea .animate-ping {
  animation: moveUp 2s forwards;
} */

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

@keyframes bunny{
  0% {
    transform:scale(1)
  }
  50%{
    transform:scale(1.05)
  }
  100%{
    transform:scale(1)
  }
}